.card {
    border: 1px solid #6A6A6A;
    border-radius: 8px;
    overflow: hidden;
    width: 359px;
    height: 377px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-direction: column;


}

.logoContainer {
    position: absolute;
    top: 2;
    left: 2;
}

.logo {
    width: 101px;
    height: 101px;
    border-radius: 50%;
    margin: 10px;
}

.content {
    padding: 16px;
    overflow: hidden;
    height: 273px;
}

.heading {
    margin-top: 110px;
    color: white;
}

.lightText {
    color: #333;
    text-overflow: ellipsis;

}

.readMoreBtn {
    background-color: #E3B748;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    width: 121px;
    height: 43px;
    font-weight: bold;
    margin-left: 18px;

}

/* .readMoreBtn:hover {
    background-color: ;
} */