.navbar {
    background-color: black;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;


}

.navLinks {
    display: flex;
}

.navLinks a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-size: 16px;
}

.contactBtn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    cursor: pointer;
    font-size: 16px;

}

.logo {
    height: 30px;
    margin-right: 20px;

}