.navbar {
    background-color: black;
    color: #fff;
    
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    font-weight: bold;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 30px;


}

.navLinks {
    display: flex;
}

.navLinks a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-size: 16px;
}

.contactBtn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    cursor: pointer;
    font-size: 16px;


}

.logo {
    height: 30px;
    margin-right: 20px;

}

/* Hero section CSS */

.row {
    display: flex;
    margin: 0;
    justify-content: center;
    flex-wrap: wrap;
    background-color: black;
    padding: 45px;
}


.column1 {
    flex: 2;
    padding: 25px;
    margin-top: 30px;

}

.column2 {
    flex: 1;
    padding: 25px;
    margin-left: 35px;

}

.heroText {

    font-size: 66px;
    font-weight: 450;
    line-height: 97px;
    letter-spacing: 0em;


}

.form {
    margin-top: 40px;


}

.emailInput {
    width: 438px;
    height: 72px;
    border-radius: 40px !important;
    background-color: #333;
    color: grey;
    border: none;
    position: relative;


}

.submitBtn {
    position: absolute;
    margin-top: 3px;
    height: 66px;
    width: 137px;
    border-radius: 40px;
    background-color: #E3B748;
    border: none;
    margin-left: -140px;
    font-weight: bold;


}

.emailIcon {
    color: grey;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8;

}